main .like-news {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-areas:
        'section aside';
    grid-template-columns: 75% 25%;
    gap: 20px;
}

main .like-news aside {
    grid-area: aside;
}

main .like-news section {
    grid-area: section;
}

main .like-news section article {
    display: flex;
    margin: 30px 0;
}

main .like-news section article img {
    width: 30%;
    margin-right: 20px;
}

main .like-news section article a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

main .like-news section article a:hover {
    text-decoration: none;
    color: cyan;


}

.header-more-news {
    margin-left: 150px;
}

main .like-news section article span {
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
}

main .like-news aside {
    top: 0;
    position: sticky;
    display: block;
}

main .like-news aside div img {
    width: 100%;
}

main .like-news aside div {
    margin: 20px;
}

main .like-news aside div a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1200px) {

    main .like-news {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {

    main .like-news {
        display: flex;
        flex-direction: column;
    }

    main aside img {
        width: 50% !important;
    }

    main aside div {
        display: flex;
    }
}